---
import Link from "./ui/link.astro";
---

<div
  class="bg-pink-700 p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    فقط ۱۰ روز وقته
  </h2>
  <p class="text-pink-200 mt-4 text-lg md:text-xl">
    "بعد از آخرین امتحان فقط یک هفته تا ده روز فرصت صدور کارنامه وجود دارد"
  </p>
  <div class="flex mt-5">
    <Link
      href="/pricing"
      style="inverted"
      class="hover:bg-transparent hover:text-white">درخواست مشاوره تخصصی</Link
    >
  </div>
</div>
