---

---

<div class="rounded-lg flex items-center justify-center gap-4">
  <a
    referrerpolicy="origin"
    target="_blank"
    href="https://trustseal.enamad.ir/?id=524108&Code=Pjwuw3J5c6ohrIUNCcu2ObDyhe21vYDr"
    ><img
      referrerpolicy="origin"
      src="https://eementrade.com/enamadtp.png"
      alt=""
      style="cursor:pointer"
      code="Pjwuw3J5c6ohrIUNCcu2ObDyhe21vYDr"
    />
  </a>
  <span id="PPTrust" class="flex bg-center">
    <script src="https://statics.payping.ir/trust-v3.js" theme="dark" size="md"
    ></script>
  </span>
</div>
