---

---

<div class="rounded-lg flex items-center justify-center gap-4">
  <a
    referrerpolicy="origin"
    target="_blank"
    href="https://trustseal.enamad.ir/?id=687974&Code=10iKnYxZ6EX7mMXFGWA8MWbzaV8E8cxE"
    ><img
      referrerpolicy="origin"
      src="/enamadtp.png"
      alt=""
      style="cursor:pointer"
      code="10iKnYxZ6EX7mMXFGWA8MWbzaV8E8cxE"
    />
  </a>
  <span id="PPTrust" class="flex bg-center">
    <script src="https://statics.payping.ir/trust-v3.js" theme="dark" size="md"
    ></script>
  </span>
</div>
