---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "تصمیم‌گیری آگاهانه در حساس‌‌ترین سال‌ها",
    description:
      "پایه نهم و دوازدهم فقط یک مقطع تحصیلی نیستند؛ نقطه‌ی تعیین مسیر زندگی دانش‌آموزان‌اند. این سامانه با تحلیل دقیق عملکرد سه‌ساله، به شما کمک می‌کند تصمیم‌هایی بگیرید که بر اساس داده و واقعیت باشد، نه حدس و احساس.",
    icon: "bx:map-pin",
  },
  {
    title: "افزایش اعتماد خانواده‌ها به مدیریت مدرسه",
    description:
      "وقتی تصمیم‌های آموزشی شما بر اساس گزارش‌های شفاف و مستند باشد، خانواده‌ها با اطمینان بیشتری به مدرسه اعتماد می‌کنند. این ابزار، اعتبار تصمیم‌های شما را چند برابر می‌کند و جایگاه حرفه‌ای مدرسه را ارتقا می‌دهد.",
    icon: "bx:bolt-circle",
  },
  {
    title: "مدرسه‌ای که آینده را جدی می‌گیرد",
    description:
      "مدارسی که از ابزارهای تحلیلی هوشمند استفاده می‌کنند، یک پیام روشن دارند: ما فقط آموزش نمی‌دهیم، آینده می‌سازیم. این سامانه شما را در جایگاه یک مدیر آینده‌نگر و مسئولیت‌پذیر قرار می‌دهد.",
    icon: "bx:leaf",
  },
  {
    title: "آینده‌سازی مسئولانه برای هر دانش‌آموز",
    description:
      "هر دانش‌آموز یک استعداد پنهان دارد. گزارش‌های تحلیلی این نرم‌افزار به شما و کادر آموزشی کمک می‌کند مسیر تحصیلی مناسب هر دانش‌آموز را شناسایی کرده و او را به سمتی هدایت کنید که بیشترین شانس موفقیت را داشته باشد.",
    icon: "bx:trending-up",
  },
  {
    title: "کاهش ریسک انتخاب رشته‌",
    description:
      "انتخاب رشته اشتباه، هزینه‌ای سنگین برای دانش‌آموز، خانواده و مدرسه دارد. این سامانه با نمایش روند پیشرفت، نقاط قوت و ضعف واقعی دانش‌آموز، احتمال خطا در انتخاب رشته را به حداقل می‌رساند.",
    icon: "bx:check",
  },
  {
    title: "پشتیبانی دقیق در مسیر ورود به دانشگاه",
    description:
      "در پایه دوازدهم، هر نمره و هر تصمیم سرنوشت‌ساز است. این گزارش‌ها تصویر روشنی از آمادگی تحصیلی دانش‌آموز برای دانشگاه ارائه می‌دهد و به مشاوران کمک می‌کند توصیه‌هایی دقیق و قابل دفاع ارائه دهند.",
    icon: "bx:target-lock",
  },
];
---

<div class="md:mt-0 text-center">
  <h2 class="text-xl lg:text-3xl lg:mt-0 font-bold lg:tracking-tight mt-2">
    آنچه کارنامه سه‌ساله را از بقیه متمایز می‌کند!
  </h2>
  <!-- <strong class="text-lg text-slate-700 lg:hidden">
    آنچه سرویس‌های ما را از دیگران متمایز می‌کند!
  </strong> -->
</div>
<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-10 md:mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-indigo-800 rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed ">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
