---
// @ts-ignore
import { Icon } from "astro-icon/components";
import "components/ui/icons/flutter.astro";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">
    تکنولوژی هایی که تو این مسیر به ما کمک می‌کنن
  </h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="size-8 md:size-12" name="skill-icons:nginx" />
    <Icon class="size-8 md:size-12" name="skill-icons:astro" />
    <Icon class="size-8 md:size-12" name="skill-icons:tailwindcss-light" />
    <Icon class="size-8 md:size-12" name="skill-icons:dotnet" />
    <Icon class="size-8 md:size-12" name="skill-icons:rabbitmq-light" />
    <Icon class="size-8 md:size-12" name="skill-icons:flutter-light" />
    <Icon class="size-8 md:size-12" name="skill-icons:docker" />
  </div>
</div>
